{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}
{% block content %}
<div class="wrapper">
    <div class="progress">
        <div id="progress_bar" class="progress-bar bg-danger" role="progressbar" aria-label="Danger example"
            style="width: 10%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="d-flex justify-content-between">
        <button type="button" class="slide_prev_button slide_button">
            <ion-icon name="chevron-back-circle" size="large"></ion-icon>
        </button>
        <button type="button" class="btn_help slide_button">
            <ion-icon name="help-circle-outline" size="large"></ion-icon>
        </button>
    </div>
    <div class="slide slide_wrap">
        <div class="slide_item">1
        </div>
        <div class="slide_item">2
        </div>
        <div class="slide_item">3
        </div>
    </div>
    <div class="container">
        <button class="mt-3 next_btn slide_next_button slide_button">다음</button>
    </div>
</div>
{% endblock content %}
{% block js %}
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script src="{% static 'js/form.js' %}"></script>
{% endblock js %}