{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/hobby_index.css' %}">
{% endblock %}

{% block content %}
<div class="tag_top">
  <div class='container justify-content-center post_page'>
    <div style='width:100%'>
      <!-- 태그 전체 글 -->
      <div class='my-5'>
        <div class="d-flex justify-content-center">
          <div class='d-flex flex-column post_size'>
            <div class='d-flex my-2 post'>
              <div class="col-4">
                <img class='post_img' src="https://dummyimage.com/500x200/000/fff" alt="..."
                  style='width:100%; height: 250px;'>
              </div>
              <div class="d-flex align-items-center">
                <div class='mx-5'>
                  <div class='my-3'>
                    <small class="tag p-1">#태그</small>
                    <small class="tag p-1">#태그</small>
                    <small class="tag p-1">#태그</small>
                  </div>
                  <h3>본문에 제목이 들어갈 곳입니다.
                  </h3>
                  <small class='text-muted'>

                    <i class="bi bi-calendar-check-fill"></i>
                    날짜
                    <i class="bi bi-geo-alt-fill"></i>
                    장소
                    <i class="bi bi-person-fill"></i>
                    인원수</small>
                  <div class="profil_box d-flex">
                    <img class="tag_profil" src="{% static 'images/프로필.png' %}">
                    <img class="tag_profil" src="{% static 'images/프로필.png' %}">
                    <img class="tag_profil" src="{% static 'images/프로필.png' %}">
                    <img class="tag_profil" src="{% static 'images/프로필.png' %}">
                    <img class="tag_profil" src="{% static 'images/프로필.png' %}">
                    <img class="tag_profil" src="{% static 'images/프로필.png' %}">
                    <i class="bi bi-plus-circle"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class='d-flex my-2 post'>
              <div class="col-4">
                <img class='post_img' src="https://dummyimage.com/500x200/000/fff" alt="..."
                  style='width:100%; height: 250px;'>
              </div>
              <div class="d-flex align-items-center">
                <div class='mx-5'>
                  <div class='my-3'>
                    <small class="tag p-1">#태그</small>
                    <small class="tag p-1">#태그</small>
                    <small class="tag p-1">#태그</small>
                  </div>
                  <h3>본문에 제목이 들어갈 곳입니다.
                  </h3>
                  <small class='text-muted'>
                    해당 글의
                    <i class="bi bi-calendar-check-fill"></i>
                    날짜
                    <i class="bi bi-geo-alt-fill"></i>
                    장소
                    <i class="bi bi-person-fill"></i>
                    인원수 가 들어갈 곳입니다.</small>
                </div>
              </div>
            </div>
            <div class='d-flex my-2 post'>
              <div class="col-4">
                <img class='post_img' src="https://dummyimage.com/500x200/000/fff" alt="..."
                  style='width:100%; height: 250px;'>
              </div>
              <div class="d-flex align-items-center">
                <div class='mx-5'>
                  <div class='my-3'>
                    <small class="tag p-1">#태그</small>
                    <small class="tag p-1">#태그</small>
                    <small class="tag p-1">#태그</small>
                  </div>
                  <h3>본문에 제목이 들어갈 곳입니다.
                  </h3>
                  <small class='text-muted'>
                    해당 글의
                    <i class="bi bi-calendar-check-fill"></i>
                    날짜
                    <i class="bi bi-geo-alt-fill"></i>
                    장소
                    <i class="bi bi-person-fill"></i>
                    인원수 가 들어갈 곳입니다.</small>
                </div>
              </div>
            </div>
            <div class='d-flex my-2 post'>
              <div class="col-4">
                <img class='post_img' src="https://dummyimage.com/500x200/000/fff" alt="..."
                  style='width:100%; height: 250px;'>
              </div>
              <div class="d-flex align-items-center">
                <div class='mx-5'>
                  <div class='my-3'>
                    <small class="tag p-1">#태그</small>
                    <small class="tag p-1">#태그</small>
                    <small class="tag p-1">#태그</small>
                  </div>
                  <h3>본문에 제목이 들어갈 곳입니다.
                  </h3>
                  <small class='text-muted'>
                    해당 글의
                    <i class="bi bi-calendar-check-fill"></i>
                    날짜
                    <i class="bi bi-geo-alt-fill"></i>
                    장소
                    <i class="bi bi-person-fill"></i>
                    인원수 가 들어갈 곳입니다.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content %}

{% block js %}{% endblock js %}