{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/community.css' %}">
{% endblock %}
{% block content %}

  <div class='container page'>
    <div style=" text-align: center;">
      <h3 class='main_title fw-bold'>새 피드 작성하기</h3>
      <small class='text-muted'>자유롭게 여러분의 일상을 공유해 주세요 !</small>
    </div>

    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class='d-flex justify-content-around'>
        <div style='width:40%'>
          <div>
            <div id="image_container"></div>
          </div>
          <input type="file" name="images" multiple="multiple" id="image" accept="image/*" onchange="setThumbnail(event);">
        </div>
        <div style='width:40%'>
          <div>
            <span>제목</span>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder='title'>

          </div>
          <div>
            <span>내용</span>
            <textarea class="form-control" placeholder="content" id="floatingTextarea2" style="height: 300px"></textarea>
          </div>
        </div>
      </div>
      <div style=" text-align: center;">
        <button class='create_button' type="submit">
          작성하기</button>
      </div>

    </form>
  </div>
  <script>
    function setThumbnail(event) {
      for (var image of event.target.files) {
        var reader = new FileReader();

        reader.onload = function (event) {
          var img = document.createElement("img");
          img.setAttribute("src", event.target.result);
          document
            .querySelector("div#image_container")
            .appendChild(img);
        };

        console.log(image);
        reader.readAsDataURL(image);
      }
    }
  </script>

{% endblock content %}
