{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/community.css' %}">
{% endblock %}
{% block content %}

  <div class='container page'>
    <div style=" text-align: center;">
      <h3 class='main_title fw-bold'>새 피드 작성하기</h3>
      <small class='text-muted'>자유롭게 여러분의 일상을 공유해 주세요 !</small>
    </div>
    <div>
      <div class="album">
        <div class="image_container"></div>
      </div>
    </div>

    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="image_container"></div>

      <input type="file" name="images" multiple="multiple" id="images" accept="image/*" onchange="setThumbnail(event);">
      {% bootstrap_form post_form %}

      <div style=" text-align: center;">
        <button class='create_button' type="submit">
          작성하기</button>
      </div>
    </form>
  </div>
  <script>
    function setThumbnail(event) {
      for (var image of event.target.files) {
        var reader = new FileReader();

        reader.onload = function (event) {
          var img = document.createElement("img");
          img.setAttribute("src", event.target.result);
          img.setAttribute("style", 'width:200px;height:200px')
          document
            .querySelector(".image_container")
            .appendChild(img);
        };

        console.log(image);
        reader.readAsDataURL(image);
      }
    }
  </script>

{% endblock content %}
