{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/community.css' %}">
{% endblock %}
{% block content %}
  <div class='container' style="margin-top: 5%;">
    {% for post in posts%}
      <div class='feed my-5 py-3'>
        {{post.user.username}}
        <div id='slideShow'>
          <ul class='slides list-unstyled'>
            {% for photo in post.photo_set.all %}
              <!-- 이미지 설정 -->
              <li><img src="{{ photo.image.url }}" alt="{{ photo.image.image }}" style="width: 800px; height: 500px;"></li>
            {% endfor %}
          </ul>
          <p class="controller">
            <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
            <span class="prev">&lang;</span>
            <span class="next">&rang;</span>
          </p>
        </div>
        <div class='mx-5'>
          <p>{{post.hits}}</p>
          <p>{{post.content}}</p>
          <small class='text-muted'>{{post.created_at}}</small>
        </div>
      </div>
      <form action="{% url 'community:delete' post.pk %}" method='POST'>
        {% csrf_token %}
        <input type="submit" value='삭제' class="btn btn-danger">
      </form>
    {% endfor %}
    <a href="{% url 'community:create' %}">작성</a>
  </div>

  <script>
    const slides = document.querySelector('.slides'); //전체 이미지 슬라이드 컨테이너
    const slideImg = document.querySelectorAll('.slides li'); //모든 슬라이드들
    let currentIdx = 0; //현재 슬라이드 index 초기값 0
    const slideCount = slideImg.length; // 슬라이드 개수
    const prev = document.querySelector('.prev'); //이전 버튼
    const next = document.querySelector('.next'); //다음 버튼
    const slideWidth = 800; //한개의 슬라이드 넓이
    const slideMargin = 100; //슬라이드간의 margin 값
    //전체 슬라이드 컨테이너 넓이 설정
    slides.style.width = (slideWidth + slideMargin) * slideCount + 'px';

    console.log(slides)
    console.log(slideImg)

    function moveSlide(num) {
      slides.style.left = -num * 900 + 'px';
      currentIdx = num;
    }
    prev.addEventListener('click', function () {
      if (currentIdx !== 0) 
        moveSlide(currentIdx - 1);
      }
    );
    next.addEventListener('click', function () {
      if (currentIdx !== slideCount - 1) {
        moveSlide(currentIdx + 1);
      }
    });
  </script>

{% endblock content %}
