{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content%}
  <div class='container' style='margin-top:5%;'>
    <form action="" method="POST" class="" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="image_container"></div>
      <label class="form-label" for="id_image">사진</label>
      <input type="file" name="images" multiple="multiple" id="images" accept="image/*" onchange="setThumbnail(event);">
      {% if photo_list %}
        {% for photo in photo_list %}
          <div>
            <a href="{{ photo.image.url }}">{{ photo.image }}</a>
          </div>

        {% endfor %}
        <input type="checkbox" name="image-clear" id="image-clear_id" class="form-check-input">
        <label for="image-clear_id" class="form-check-label">취소</label>
      {% endif %}
      {% bootstrap_form post_form %}
      <div class="text-end"><input class="btn btn-primary" type="submit" value="수정"></div>
    </form>
  </div>
  <script>
    function setThumbnail(event) {
      for (var image of event.target.files) {
        var reader = new FileReader();

        reader.onload = function (event) {
          var img = document.createElement("img");
          img.setAttribute("src", event.target.result);
          img.setAttribute("style", 'width:200px;height:200px')
          document
            .querySelector(".image_container")
            .appendChild(img);
        };

        console.log(image);
        reader.readAsDataURL(image);
      }
    }
  </script>
{% endblock content%}
