.page{
  margin-top: 100px;
}

.main_title {
  color: #E84545;
}

.write{
  border: 3px solid #E84545;
  height:60px;
  border-radius: 30px;
  font-size: 20px;
}
.slideShow{
  width: 800px;
  height: 500px;
  position: relative;
  margin: 0px auto;
  overflow: hidden;   
}

.slides{
  position: absolute;
  left: 0px;
  top: 0;
  transition: left 0.5s ease-out; 
  /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
}

/* 첫 번째 슬라이드 가운데에 정렬하기위해
첫번째 슬라이드만 margin-left조정 */
.slides li:first-child{
  margin-left: 0px;
}

/* 슬라이드들 옆으로 정렬 */
.slides li:not(:last-child){
  float: left;
  margin-right: 0px;
}

.slides li{
  float: left;
}

.controller span{
  position:absolute;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  font-size: 1.3em;
  cursor: pointer;
}

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller span:hover{
  background-color: rgba(128, 128, 128, 0.11);
}

.prev{
  left: 0px;
}

/* 이전 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover{
  transform: translateX(-0px);
}

.next{
  right: 0px;
}

/* 다음 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover{
  transform: translateX(0px);
}
.feeds{

  border-radius: 0px;
}
.create_button {
  background-color: #E84545;
  width: 60%;
  height: 55px;
  border-radius: 30px;
  color: #ffffff;
  border: 0px;
  outline: 0px;
  margin: 20px;
}
.feeds_img{
  border-top-left-radius:0px;
  border-top-right-radius:0px;
}

.feeds_content{
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
}

/* create 이미지 슬라이드 */

.album{
  height: auto;
  width: auto;
  overflow: hidden;
}

.plus-btn {
  position: fixed;
  bottom: 120px;
  right: 23px;
}

.plus-btn div {
  color: #E84545;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 4px 4px 25px 0px #0714271f;
}
.user_img{
  border-radius: 50%;
}

/* detail.html */
.comment_input{
  width: 600px;
  height: 30px;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 0px 5px rgb(214, 212, 212);
  background-color: #fff;
}
.comment_sbmit{
  height: 30px;
  font-size: 15px;
  border-radius: 10px;
  border: 0;
  background-color:  #E84545;
  color: #fff;
}
.comment_content{
  color: #4A4F5A;
}
.comment_small_text{
  font-size: 12px;
  color:#979AA0;
}
.comment_small_btn{
  font-size: 10px;
  color:#979AA0;
}
.recomment_list{
  margin-left: 30px;
}
.recomment_input{
  width: 600px;
  height: 60px;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 0px 5px rgb(214, 212, 212);
  background-color: #fff;
}
.recomment_sbmit{
  height: 60px;
  font-size: 15px;
  border-radius: 10px;
  border: 0;
  background-color:  #E84545;
  color: #fff;
}
.comment_update_btn{
  background-color: #fff;
  border: 0;
}
.feed_btn{
  background-color: #fff;
  color:#979AA0;
}
.feed_content{
  border: 3px solid #E84545;
  border-radius: 10px;
  padding: 30px;
}
.create_feed_title{
  outline: none;
  margin-bottom: 10px;
  border-left-width:0;
  border-right-width:0;
  border-top-width:0;
  border-bottom-width:1;
}
.create_feed_content{
  outline: none;
  border-left-width:0;
  border-right-width:0;
  border-top-width:0;
  border-bottom-width:1;
}
.create_img{
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}
.create_img_in{
  border: 3px dotted black;
  border-radius: 10px;
  padding: 10px;
}



.file-label {
  background-color: #E84545;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 60%;
  border-radius: 30px;
  cursor: pointer;
}
.file {
  display: none;
}