* {
  font-family: 'Noto Sans KR', sans-serif;
}
.wrapper{
  width:750px;
  max-width: 100%;
  background: var(--white);
  margin: 100px auto 20px;
  padding: 50px;
  border-radius: 5px;
}
.progress-bar{
  transition: 0.15s
}
.slide {
    /* layout */
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
.slide_item {
overflow:auto;
display: relative;
align-items: flex-start;
justify-content: center;
position: relative;
left: 0px;
width: 100%;
height: 650px;
padding: 10px;
flex-shrink: 0;
transition: left 0.15s;
}
.slide_button {
display: flex;
justify-content: center;
align-items: center;
border-radius: 100%;
cursor: pointer;
padding: 0;
border: none;
background-color: var(--parent);
}

ul,
li {
list-style-type: none;
padding: 0;
margin: 0;
}

.next_btn {
background-color: #E84545;
font-weight: 400;
font-size: 12px;
line-height: 15px;
width: 90%;
height: 40px;
border-radius: 30px;
color: #ffffff;
border: 0px;
outline: 0px;
margin:auto;
}
.input_btn{
background-color: #E84545;
font-weight: 400;
font-size: 12px;
line-height: 15px;
width: 90%;
height: 40px;
border-radius: 30px;
color: #ffffff;
border: 0px;
outline: 0px;
margin: auto;
}
.tap_icon{
  font-size:32px;
  margin:5px;
}
.social-btn{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 56px;
  border: solid 2px;
  border-color: #BBBBBB;
  border-radius: 10px;
  padding:20px;
  margin: 0px 0px 10px;
  color: #BBBBBB;
}

.active{
  border-color: #E84545;
  background-color:#E84545;
  color: white;
}

.social-btn div{
  padding: 0px 15px;
}

.social-btn p{
  margin:0px;
}

label{
  cursor: pointer;
}
.accordion-body{
  display: flex;
  justify-content: flex-start;
}
.accordion-body .col{
  width: 30%;
}
.accordion-button:not(.collapsed) {
  border-color: #E84545;
  background-color:#E84545;
  color: white;
}
.accordion-button:hover {
  border-color: #E84545;
  background-color:#E84545;
  color: white;
}
.tag-btn{
  font-size:12px;
  height:35px;
  border: solid 2px;
  border-color:#BBBBBB;
  border-radius: 10px;
  background-color:white;
  color: #000000;
  display:flex;
  justify-content: center;
  align-items: center;
}
.tag-btn:hover{
  border-color:#e8454569;
  background-color: #e8454569;
}

.tag-btn-active{
  border-color:#e8454569;
  background-color: #e8454569;
}

/* 오프캔버스 */
.offcanvas-bottom{
  width: 700px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin:auto
}

/* 언더라인 인풋 */
.input-control{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: var(--parent);
  background-clip: padding-box;
  border: none;
  border-bottom: 2px solid black;
}
/* outline 테두리 없애기 */
.input-control:focus {outline: none;}
textarea:focus {
  border-color: rgba(0, 0, 0, 0.507);
  box-shadow: 2px solid black;
  outline: 0 none;
}

/* image 인풋라벨 */
.image-control{
  width: 100%;
  height: 200px;
  background-color: #e7e7e7;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color:#BBBBBB;
}

/* textarea 커스텀 */
.area-control{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.area-control:focus{
  box-shadow: 2px 2px 2px 3px #e8454559;
  border: 1px solid #E84545;
}

/* 장소버튼 */
.addr-btn{
background-color: var(--parent);
font-weight: 400;
font-size: 16px;
line-height: 15px;
width: 90%;
height: 48px;
border: solid 1px;
border-color:#BBBBBB;
border-radius: 10px;
color: #BBBBBB;
margin: auto;
}

.addr-btn:hover{
  background-color:#E84545;
  color: white;
  border-color: #E84545;
}
.addr-btn-active{
  background-color:#E84545;
  color: white;
  border-color: #E84545;
  box-shadow: 2px 2px 2px 2px #e8454559;
}
.addr-control{
  cursor: pointer;
  display: block;
  margin-top: 30px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  color: #212529;
  background-color: var(--parent);
  background-clip: padding-box;
  border: none;
  border-bottom: 2px solid #BBBBBB;
}

/* 장소 검색 인풋 */
.search-control{
  background-color: #e7e7e7;
  border-radius: 30px;
  color: #5f5f5f;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-control:focus{
  outline: none;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.377)
}
#offcanvasBottom2{
 height: 800px; 
}
ul{
  cursor: pointer;
}
.addr_title{
  font-size:20px;
  font-weight:bold;
  color:#000000;
}
.addr_addr{
  font-size:14px;
  color:#BBBBBB;
}