.tag_button {
    height: 40px;
    line-height: 38px;
    border: 0px;
    outline: 0px;
    margin: 3px;
}

.tag_text {
    height: 100%;
    cursor: pointer;
    font-size: 16px;
    background-color: #E84545;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
}

.tag_box {
    height: 120px;
    width: 100%;
}

@media (max-width: 767px) {
    .tag_box {
        height: 180px;
        width: 100%;
    }
}

.index_title {
    color: #E84545;

}