{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<!-- 프로필 -->
  <!-- 팔로워 모달 -->
  <div class="modal fade title-font" id="followerModal" tabindex="-1" aria-labelledby="followerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center fw-bold" id="followerModalLabel">Followers</h5>
        </div>
        <div class="modal-body">
          {% if user.followers.all %}
            {% for follower in user.followers.all %}
              <a href="{% url 'accounts:detail' follower.pk %}" class="modal-participater" style="color: black; text-decoration: none;">
                <div class="d-flex align-items-center">
                  <!-- 프로필 이미지가 있으면 -->
                  <img src="{{ follower.profile_pic.url }}">
                  <!-- 이름이 있으면 이름, 없으면 아이디 -->
                  <h1>{{ follower.username }}</h1>
                </div>
              </a>
            {% endfor %}
          {% else %}
            <div class="text-center">팔로워가 없습니다.</div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn pos-btn" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 팔로잉 모달 -->
  <div class="modal fade title-font" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center" id="followingModalLabel">Followings</h5>
        </div>
        <div class="modal-body">
          {% if user.followings.all %}
            {% for following in user.followings.all %}
              <a href="{% url 'accounts:detail' following.pk %}" class="modal-participater" style="color: black; text-decoration: none;">
                <div class="d-flex align-items-center">
                  <img src="{{ following.profile_pic.url }}">
                  <!-- 이름이 있으면 이름, 없으면 아이디 -->
                  <h1>{{ following.username }}</h1>
                </div>
              </a>
            {% endfor %}
          {% else %}
            <div class="text-center">팔로우 중인 사람이 없습니다.</div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn pos-btn" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<section class="home mt-5">
    <div class="container">
      <div class="content">
        <div height="100px"></div>
        <div class="pf-box ">
            <div class="rounded-circle bg-white"></div>
          <!--프사-->
          <div class="pf-right">
            <div class='pf-detail d-flex justify-content-around'>
            <div>
              <h3 class="display-7 fw-bolder">프로필 사진</h3>
              <p class="small mb-1 lh-lg">
                {{user}}<br>
            </div>
            <!--프사 옆-->
            <div>
                <h4 class="mt-3">Hobbys</h4>
                sports : {{user.sports}}
                <br>
                travel : {{user.travel}}
                <br>
                art : {{user.art}}
                <br>
                food : {{user.food}}
                <br>
                develop : {{user.develop}}
              </p>
            <!-- 팔로우 표시 -->
            <div class="counts d-flex">
              <div class="me-5">
                <p class="fs-6" data-bs-target="#followerModal" data-bs-toggle="modal">
                  팔로워
                  <span class="ms-2 fw-bold" id="followers-count">
                    {{ user.followers.all|length }}
                  </span>
                </p>
              </div>
              <div class="me-5">
                <p class="fs-6" data-bs-target="#followingModal" data-bs-toggle="modal">
                    팔로잉
                    <span class="ms-2 fw-bold" id="followings-count">
                    {{ user.followings.all|length }}</span>
                </p>
              </div>
              <div class="me-5">
                <p class="fs-6">게시물<span class="ms-2 fw-bold">
                    {{ user.community_set.count }}
                </span></p>
              </div>
            </div>
            <div class="pf-btns">
              {% if request.user != user %}
                <a href="{% url 'accounts:follow' user.pk %}">
                  {% if request.user in user.followers.all %}
                    <button type="button" class="btn btn-danger">팔로우 취소</button>
                  {% else %}
                    <button type="button" class="btn btn-primary">팔로우</button>
                  {% endif %}
                </a>
              {% endif %}
              {% if request.user == user %}
              <a href="{% url 'accounts:update' user.pk %}" type="button" class="btn btn-secondary">수정</a>
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                회원탈퇴
              </button>
              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">회원탈퇴</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      정말 탈퇴하시겠습니까?
                    </div>
                    <div class="modal-footer">
                      <a href="{% url 'accounts:delete' %}" type="button" class="btn neg-btn">탈퇴</a>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            </div>
        </div>
      </div>
    </section>
    
{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const followForm = document.querySelector('.follow-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    followForm.addEventListener('submit', function (event) {
    event.preventDefault()
    axios({
     method: 'post',
     url: `/accounts/${followForm.dataset.userPk}/follow/`,
     headers: { 'X-CSRFToken': csrftoken },
     }).then((response) => {
     // 팔로우 버튼 토글
      const followBtn = document.querySelector('.follow-btn')
      if (response.data.is_followed === false) {
        followBtn.value = 'Follow'
       } else {
         followBtn.value = 'Unfollow'
     }

      // 팔로잉/팔로워 수 변경
     const followingCnt = document.querySelector('.following-cnt')
      const followerCnt = document.querySelector('.follower-cnt')

       followingCnt.innerText = response.data.following_cnt
     followerCnt.innerText = response.data.follower_cnt
      })
    })
  </script>
{% endblock script %}


