{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<!-- 프로필 -->
  <!-- 팔로워 모달 -->
  <div class="modal fade title-font" id="followerModal" tabindex="-1" aria-labelledby="followerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center fw-bold" id="followerModalLabel">Followers</h5>
        </div>
        <div class="modal-body">
          {% if user.followers.all %}
            {% for follower in user.followers.all %}
              <a href="{% url 'accounts:detail' follower.pk %}" class="modal-participater" style="color: black; text-decoration: none;">
                <div class="d-flex align-items-center">
                  <!-- 프로필 이미지가 있으면 -->
                  <img src="{{ follower.image.url }}" style="width:50px; height:50px;">
                  <!-- 이름이 있으면 이름, 없으면 아이디 -->
                  <h1>{{ follower.username }}</h1>
                </div>
              </a>
            {% endfor %}
          {% else %}
            <div class="text-center">팔로워가 없습니다.</div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 팔로잉 모달 -->
  <div class="modal fade title-font" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center" id="followingModalLabel">Followings</h5>
        </div>
        <div class="modal-body">
          {% if user.followings.all %}
            {% for following in user.followings.all %}
              <a href="{% url 'accounts:detail' following.pk %}" class="modal-participater" style="color: black; text-decoration: none;">
                <div class="d-flex align-items-center">
                  <img src="{{ following.image.url }}" style="width:50px; height:50px;">
                  <!-- 이름이 있으면 이름, 없으면 아이디 -->
                  <h1>{{ following.username }}</h1>
                </div>
              </a>
            {% endfor %}
          {% else %}
            <div class="text-center">팔로우 중인 사람이 없습니다.</div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<section class="home mt-5">
    <div class="container">
      <div class="content">
        <div height="100px"></div>
        <div class="pf-box ">
            <div class="rounded-circle bg-white"></div>
          <!--프사-->
          <div class="pf-right">
            <div class='pf-detail d-flex justify-content-around'>

            <div class="profile-m">
                <h3 class="">{{user}}님의 프로필</h3>
                {% if user.image %}
                <img class="id-img rounded-4" style="width:280px; height:280px;" src="{{ user.image.url }}" alt="{{ user.profile.image }}" class='mb-2'>
                {% endif %}
              <p class="small mb-1 lh-lg">
            </div>
            <!--프사 옆-->
            <div class="acoounts-all">
                <h4 class="mt-5">Hobbys</h4>
                <div class="accounts-height">
                <div class="accounts-hoddys">
                {% for sports in user.sports %}
                <p class="all-tag">#{{ sports }}&nbsp</p>
                {% endfor %}
                {% for travel in user.travel %}
                <p class="all-tag">#{{ travel }}&nbsp</p>
                {% endfor %}
                {% for art in user.art %}
                <p class="all-tag">#{{ art }}&nbsp</p>
                {% endfor %}
                {% for food in user.food %}
                <p class="all-tag">#{{ food }}&nbsp</p>
                {% endfor %}
                {% for develop in user.develop %}
                <p class="all-tag">#{{ develop }}&nbsp</p>
                {% endfor %}
              </div>
              </div>
  
            <!-- 팔로우 표시 -->
            <div class="counts d-flex">
              <div class="me-5">
                <p class="fs-6" data-bs-target="#followerModal" data-bs-toggle="modal">
                  팔로워
                  <span class="ms-2 fw-bold" id="followers-count">
                    {{ user.followers.count }}
                  </span>
                </p>
              </div>
              <div class="me-5">
                <p class="fs-6" data-bs-target="#followingModal" data-bs-toggle="modal">
                    팔로잉
                    <span class="ms-2 fw-bold" id="followings-count">
                    {{ user.followings.count}}</span>
                </p>
              </div>
              <div class="me-5">
                <p class="fs-6">게시물<span class="ms-2 fw-bold">
                    {{ user.community_set.count }}
                </span></p>
              </div>
            </div>
            <div class="pf-btns">
              {% if request.user != user %}
            <form action="{% url 'accounts:follow' user.pk %}" method="POST">
              {% if request.user.is_authenticated %}
                {% csrf_token %}
                {% if request.user in user.followers.all %}
                  <div id="follow-btn" data-post-id="{{ user.pk }}" class="btn btn-dark follow-btn" type="submit">
                    Unfollow</div>
                {% else %}
                  <div id="follow-btn" data-post-id="{{ user.pk }}" class="btn btn-dark follow-btn" type="submit">
                    Follow
                  </div>
                {% endif %}
              </form>
            {% endif %}
          {% endif %}
              {% if request.user == user %}
              <a href="{% url 'accounts:update' user.pk %}" type="button" class="btn btn-secondary">수정</a>
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                회원탈퇴
              </button>
              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">회원탈퇴</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      정말 탈퇴하시겠습니까?
                    </div>
                    <div class="modal-footer">
                      <a href="{% url 'accounts:delete' %}" type="button" class="btn btn-dark">탈퇴</a>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            </div>
        </div>
      </div>
      <br>
      <div class='mt-5 text-center'>
      <nav id="tab-button-nav">
      <button class="tab-button" data-tab-section="tab-section-1">Community</button>
      <button class="tab-button" data-tab-section="tab-section-2">Hobby</button>
      <button class="tab-button" data-tab-section="tab-section-3">product</button>
      </nav>
    </div>
      <main>
        <br>
        <section id="tab-section-1" class="tab-section" hidden>
          <h3 class="text-center mb-5">Community</h3>
          <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for community in user.community_set.all %}
                <div class="card">
                  {% if community.image %}
                  <img src="{{ community.image.url }}" class="img-feed" alt="community">
                  {% else %}
                  <img src="{%static 'images/noimage.png' %}" class="img-feed" alt="">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{ community.title }}</h5>
                    <p class="card-text">{{ community.content }}</p>
                    <p class="card-text"><small class="text-muted">댓글 : {{ user.comment_set.count }}  좋아요 : {{ user.like_community.count }}</small></p>
                  </div>
                </div>
            {% endfor %}
            </div>
        </section>
        <section id="tab-section-2" class="tab-section" hidden>
          <h3 class="text-center mb-5">Hobby</h3>
          <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for hobby in user.hobby_set.all %}
                  <div class="card">
                    {% if hobby.image %}
                    <img src="{{ hobby.image.url }}" class="img-feed" alt="hobby">
                    {% else %}
                    <img src="{%static 'images/noimage.png' %}" class="img-feed" alt="">
                    {% endif %}
                    <div class="card-body">
                      <p class="card-title">제목 : {{ hobby.title }}</p>
                      <p class="card-text">내용 : {{ hobby.content }}</p>
                      <p class="card-text">주소 : {{ hobby.address }}</p>
                      <p class="card-text">활동 : {{ hobby.tags }}</p>
                      <p class="card-text">시간 : {{ hobby.meeting_day }}</p>
                      <p class="card-text"><small class="text-muted">작성자 : {{ user }}</small></p>
                    </div>
                  </div>
              {% endfor %}
            </div>
        </section>
        
        <section id="tab-section-3" class="tab-section" hidden>
          <h3 class="text-center mb-5">product</h3>
          <div class="row row-cols-1 row-cols-md-4 g-4">
          {% for product in user.product_set.all %}
                <div class="card">
                  {% if product.image %}
                  <img src="{{ product.image.url }}" class="img-feed" alt="product">
                  {% else %}
                  <img src="{%static 'images/noimage.png' %}" class="img-feed" alt="">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.content|safe }}</p>
                    <p class="card-text"><small class="text-muted">작성자 : {{ user }}</small></p>
                  </div>
                </div>
            {% endfor %}
          </div>
        </section>
      </main>
    </section>
    
    
{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const followBtn = document.querySelector('#follow-btn')
  followBtn.addEventListener('click', function (event) {
    console.log(event.target.dataset)
    axios({method: 'get', url: `/accounts/${event.target.dataset.postId}/follow/`}).then(response => {
      console.log(event.target.dataset)
      console.log(response.data)
      if (response.data.is_followed === true) {
        event.target.classList.add('unfollow-button')
        event.target.classList.remove('follow-button')
        followBtn.innerText = "Unfollow"
      } else {
        event.target.classList.add('follow-button')
        event.target.classList.remove('unfollow-button')
        followBtn.innerText = "Follow"
      }
      location.reload();
    })
  })
</script>
<script>
  const $nav = document.querySelector('#tab-button-nav')
  const $sections = document.querySelectorAll('.tab-section');

  $nav.addEventListener('click', (e) => {
    if (!e.target.classList.contains('tab-button')) {
      return;
    }
    
    const focusedTabId = e.target.dataset.tabSection;

    $sections.forEach(($section) => {
      if ($section.id === focusedTabId) {
        $section.removeAttribute('hidden');
      } else {
        $section.setAttribute('hidden', true);
      }
    });
  });
</script>
{% endblock js %}


