{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<!-- 프로필 -->
  <!-- 팔로워 모달 -->
  <div class="modal fade title-font" id="followerModal" tabindex="-1" aria-labelledby="followerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center fw-bold" id="followerModalLabel">Followers</h5>
        </div>
        <div class="modal-body">
          {% if user.followers.all %}
            {% for follower in user.followers.all %}
              <a href="{% url 'accounts:detail' follower.pk %}" class="modal-participater" style="color: black; text-decoration: none;">
                <div class="d-flex align-items-center">
                  <!-- 프로필 이미지가 있으면 -->
                  <img src="{{ follower.image.url }}" style="width:50px; height:50px;">
                  <!-- 이름이 있으면 이름, 없으면 아이디 -->
                  <h1>{{ follower.username }}</h1>
                </div>
              </a>
            {% endfor %}
          {% else %}
            <div class="text-center">팔로워가 없습니다.</div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn pos-btn" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 팔로잉 모달 -->
  <div class="modal fade title-font" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center" id="followingModalLabel">Followings</h5>
        </div>
        <div class="modal-body">
          {% if user.followings.all %}
            {% for following in user.followings.all %}
              <a href="{% url 'accounts:detail' following.pk %}" class="modal-participater" style="color: black; text-decoration: none;">
                <div class="d-flex align-items-center">
                  <img src="{{ following.image.url }}" style="width:50px; height:50px;">
                  <!-- 이름이 있으면 이름, 없으면 아이디 -->
                  <h1>{{ following.username }}</h1>
                </div>
              </a>
            {% endfor %}
          {% else %}
            <div class="text-center">팔로우 중인 사람이 없습니다.</div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn pos-btn" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<section class="home mt-5">
    <div class="container">
      <div class="content">
        <div height="100px"></div>
        <div class="pf-box ">
            <div class="rounded-circle bg-white"></div>
          <!--프사-->
          <div class="pf-right">
            <div class='pf-detail d-flex justify-content-around'>
            <div>
                <h3 class="">{{user}}</h3>
                <img class="id-img rounded-4" style="width:280px; height:280px;" src="{{ user.image.url }}" alt="{{ user.profile.image }}" class='mb-2'>
              <p class="small mb-1 lh-lg">
            </div>
            <!--프사 옆-->
            <div>
                <h4 class="mt-5">Hobbys</h4>
                sports : {{user.sports}}
                <br>
                travel : {{user.travel}}
                <br>
                art : {{user.art}}
                <br>
                food : {{user.food}}
                <br>
                develop : {{user.develop}}
              </p>
            <!-- 팔로우 표시 -->
            <div class="counts d-flex">
              <div class="me-5">
                <p class="fs-6" data-bs-target="#followerModal" data-bs-toggle="modal">
                  팔로워
                  <span class="ms-2 fw-bold" id="followers-count">
                    {{ user.followers.all|length }}
                  </span>
                </p>
              </div>
              <div class="me-5">
                <p class="fs-6" data-bs-target="#followingModal" data-bs-toggle="modal">
                    팔로잉
                    <span class="ms-2 fw-bold" id="followings-count">
                    {{ user.followings.all|length }}</span>
                </p>
              </div>
              <div class="me-5">
                <p class="fs-6">게시물<span class="ms-2 fw-bold">
                    {{ user.community_set.count }}
                </span></p>
              </div>
            </div>
            <div class="pf-btns">
              {% if request.user != user %}
                  {% if request.user in user.followers.all %}
                    <button type="button" id="follow-btn" data-user-id="{{ user.pk }}" class="btn btn-dark follow-btn">Unfollow</button>
                  {% else %}
                    <button type="button" id="follow-btn" data-user-id="{{ user.pk }}" class="btn btn-dark follow-btn">Follow</button>
                  {% endif %}
              {% endif %}
              {% if request.user == user %}
              <a href="{% url 'accounts:update' user.pk %}" type="button" class="btn btn-secondary">수정</a>
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                회원탈퇴
              </button>
              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">회원탈퇴</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      정말 탈퇴하시겠습니까?
                    </div>
                    <div class="modal-footer">
                      <a href="{% url 'accounts:delete' %}" type="button" class="btn neg-btn">탈퇴</a>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            </div>
        </div>
      </div>
    </section>
    
    
{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const followBtn = document.querySelector('#follow-btn')

  // 버튼을 클릭하면
  followBtn.addEventListener('click', function (event) {
      // 팔로우 할 유저 아이디를 불러옴
      axios({
          method: 'get',
          url: `/accounts/${event.target.dataset.userId}/follow/`
      })
          .then(response => {
              // 응답 데이터를 출력함
              console.log(response.data)
              // 만약에 팔로우 상태일 경우
              if (response.data.isFollowing === true) {
                  // 팔로우 취소 버튼을 위임하고
                  event.target.classList.add('unfollow-button')
                  followBtn.innerText = 'Unfollow'
                  // 팔로우 버튼을 없앰
                  event.target.classList.remove('follow-button')
                  // 팔로우 상태가 아닐 경우
              } else {
                  // 팔로우 버튼을 위임하고
                  event.target.classList.add('follow-button')
                  followBtn.innerText = 'Follow'
                  // 팔로우 취소 버튼을 없앰
                  event.target.classList.remove('unfollow-button')
              }
              // 팔로우 숫자 변수 설정하고
              const followerscount = document.querySelector('#followers-count')
              const followingcount = document.querySelector('#following-count')
              
              followerscount.innerText = response.data.followers
              followingcount.innerText = response.data.followings
              // console.log(followingcount)
          })
  })
</script>
{% endblock js %}


