{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
  <div class="login_form">
    <h1 class="login_banner">Mohobby</h1>
    <form action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="login_button" type="submit">로그인</button>
      <a href=""></a>
    </form>
    <a class="login_text" href="{% url 'accounts:signup'%}">회원가입</a>
  </div>
{% endblock %}

{% block js %}{% endblock js %}