{% extends 'base.html' %}
{% load socialaccount %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
  <div class="login_form">
    <!-- 로고 -->
    <h1 class="login_banner">Mohobby</h1>
    <!-- form -->
    <form action="{% url 'accounts:login' %}" method="POST">
      {% csrf_token %}
      <div class="login_box">
        <!-- input : 아이디 -->
        {% render_field form.username class="user_input" placeholder="아이디"%}
        <!-- input : 비밀번호 -->
        {% render_field form.password class="user_input" placeholder="비밀번호"%}
      </div>
    <button class="login_button" type="submit">로그인</button>
  </form>
  <div class="text-center">
    <a href="{% provider_login_url 'kakao' %}">
      <div class="social_button position-relative">
        <span class="kakao-logintext position-absolute">
          <i class="bi bi-chat-fill"></i> &nbsp;카카오톡 로그인
        </span>
      </div>
    </a>
    <a href="{% provider_login_url 'naver' %}">
      <div class="social_button position-relative">
        <span class="logintext position-absolute"><span class="fw-bold" style="font-size: 18px;">N</span> &nbsp;네이버
          로그인</span>
      </div>
    </a>
    <a href="{% provider_login_url 'google' %}">
      <div class="social_button position-relative">
        <span class="logintext position-absolute"><span class="fw-bold" style="font-size: 18px;">N</span> &nbsp;구글
          로그인</span>
      </div>
    </a>
  </div>
  <!-- 회원가입 URL -->
  <a class="login_text mb-3" href="{% url 'accounts:signup'%}">회원가입</a>
</div>
{% endblock %}

{% block js %}{% endblock js %}