{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height:800px">
    <div>
        <button class="prev_button" type="submit" onclick="history.go(-1)">
          <i class="bi bi-chevron-left"></i>
        </button>
    </div>
    <div class="update_wrapper">
        <form method="POST">
            {% csrf_token %}
            <div class="form_list">
                <div class="form_field">
                    {% render_field form.old_password class="user_input" placeholder="기존 비밀번호" %}
                    {% for error in form.old_password.errors %}
                        <div class="invalid-feedback d-block">
                        {{ error }}
                        </div>
                    {% endfor %}
                    </div>
                    <div class="form_field">
                    {% render_field form.new_password1 id="new_password1" class="user_input" placeholder="새 비밀번호" %}
                    {% for error in form.new_password1.errors %}
                        <div class="invalid-feedback d-block">
                        {{ error }}
                        </div>
                    {% endfor %}
                    </div>
                    <div class="form_field">
                    {% render_field form.new_password2 id="new_password2" class="user_input" placeholder="새 비밀번호 확인" %}
                    {% for error in form.new_password2.errors %}
                        <div style="white-space: nowrap;" class="invalid-feedback d-block">
                        {{ error }}
                        </div>
                    {% endfor %}
                    <small>
                        최소 8개의 숫자와 문자 또는 특수기호를 입력해주세요.
                    </small>
                    </div>
                    <div class="form_field text-center">
                        <button type="submit" class="signup_btn">수정</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}
