{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
  <div class="login_form">
    <h1 class="login_banner">회원가입</h1>
    <form action="{% url 'accounts:signup' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- 첫번째 페이지 -->
      <div class="form_list">
        <!-- input : 아이디, -->
        <div class="form_field">
          {% render_field form.username class="user_input" placeholder="아이디"%}
          {% if form.username.errors %}
            <span class="error_msg">이미 존재하거나 사용할 수 없는 이름입니다.</span>
          {% endif %}
        </div>
        <!-- input : 비밀번호 -->
        <div class="form_field">
          {% render_field form.password1 class="user_input" placeholder="비밀번호"%}
        </div>
        <!-- input : 비밀번호 재확인 -->
        <div class="form_field">
          {% render_field form.password2 class="user_input" placeholder="비밀번호 재확인"%}
        </div>
        <!-- input : 성별 -->
        <div class="form_field">
          {% render_field form.gender class="user_input" placeholder="성별"%}
        </div>
        <!-- input : 생년월일 -->
        <div class="form_field">
          {% render_field form.birth class="user_input" placeholder="생년월일"%}
        </div>
        <!-- input : 우편번호, 검색 기능 -->
        <div class="form_field">
          <div class="address_box">
            <input type="text" id="postcode" placeholder="우편번호" class="sm_user_input">
            <input type="button" onclick="sample4_execDaumPostcode()" value="주소 찾기" class="address_btn">
          </div>
        </div>
        <!-- input : 도로명 주소 -->
        <div class="form_field">
          <input type="text" id="roadAddress" name="address" placeholder="도로명주소" class="user_input">
        </div>
        <!-- input : 상세 주소 -->
        <div class="form_field">
          {% render_field form.address_detail class="user_input" placeholder="상세주소"%}
        </div>
        <!-- 프로필 이미지 구현 후 작동 -->
        <div class="form_field">
          {% render_field form.profile_pic class="user_input" placeholder="프로필 이미지"%}
        </div>
      </div>
      <button class="login_button" type="submit">가입</button>
    </form>
  </div>
{% endblock %}

{% block js %}
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
    // 주소 검색 기능
    function sample4_execDaumPostcode() {
      new daum
        .Postcode({
          oncomplete: function (data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var roadAddr = data.roadAddress; // 도로명 주소 변수
            var extraRoadAddr = ''; // 참고 항목 변수

            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
            if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
              extraRoadAddr += data.bname;
            }
            // 건물명이 있고, 공동주택일 경우 추가한다.
            if (data.buildingName !== '' && data.apartment === 'Y') {
              extraRoadAddr += (
                extraRoadAddr !== ''
                ? ', ' + data.buildingName
                : data.buildingName);
            }
            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
            if (extraRoadAddr !== '') {
              extraRoadAddr = ' (' + extraRoadAddr + ')';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document
              .getElementById("postcode")
              .value = data.zonecode;
            document
              .getElementById("roadAddress")
              .value = roadAddr;
          }
        })
        .open();
    }
  </script>
{% endblock js %}