{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<h1>회원가입</h1>
<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3"><label class="form-label" for="id_username">아이디</label>
    <input type="text" name="username" maxlength="150" autofocus="" class="form-control" placeholder="아이디" required="" id="id_username">
    <div class="form-text">150자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다.</div>
    </div>
    <div class="mb-3"><label class="form-label" for="id_password1">비밀번호</label>
    <input type="password" name="password1" autocomplete="new-password" class="form-control" placeholder="비밀번호" required="" id="id_password1">
    <div class="form-text"></div>
    </div>
    <div class="mb-3"><label class="form-label" for="id_password2">비밀번호 확인</label>
    <input type="password" name="password2" autocomplete="new-password" class="form-control" placeholder="비밀번호 확인" required="" id="id_password2">
    <div class="form-text">확인을 위해 이전과 동일한 비밀번호를 입력하세요. </div>
    </div>
    <div class="mb-3"><label class="form-label" for="id_birth">Birth</label>
    <input type="Date" name="birth" value="2022-11-28" class="form-control" placeholder="Birth" required="" id="id_birth"></div>
    <div class="mb-3"><label class="form-label" for="id_address">주소</label>
    <input type="text" id="address_kakao" name="address" class="form-control" placeholder="Address"></div>
    <div class="mb-3"><label class="form-label" for="id_address_detail">상세주소</label>
    <input type="text" name="address_detail" maxlength="40" class="form-control" placeholder="Address detail" required="" id="id_address_detail"></div>
    <div class="mb-3"><label class="form-label" for="id_gender">Gender</label><select name="gender" class="form-select" required="" id="id_gender">
        <option value="" selected="">---------</option>
      
        <option value="M">남자</option>
      
        <option value="F">여자</option>
      
      </select></div>
      <div class='d-flex'>
      <div class="mb-3"><label class="form-label">Sports</label><div class="" id="id_sports">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_0" value="축구">
            <label class="form-check-label" for="id_sports_0">축구</label>
        </div>    
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_1" value="농구">
            <label class="form-check-label" for="id_sports_1">농구</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_2" value="야구">
            <label class="form-check-label" for="id_sports_2">야구</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_3" value="클라이밍">
            <label class="form-check-label" for="id_sports_3">클라이밍</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_4" value="등산">
            <label class="form-check-label" for="id_sports_4">등산</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_5" value="테니스">
            <label class="form-check-label" for="id_sports_5">테니스</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_6" value="트래킹">
            <label class="form-check-label" for="id_sports_6">트래킹</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_7" value="볼링">
            <label class="form-check-label" for="id_sports_7">볼링</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_8" value="러닝">
            <label class="form-check-label" for="id_sports_8">러닝</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_9" value="스키">
            <label class="form-check-label" for="id_sports_9">스키</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_10" value="보드">
            <label class="form-check-label" for="id_sports_10">보드</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_11" value="헬스">
            <label class="form-check-label" for="id_sports_11">헬스</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_12" value="산책">
            <label class="form-check-label" for="id_sports_12">산책</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_13" value="플로깅">
            <label class="form-check-label" for="id_sports_13">플로깅</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_14" value="자전거">
            <label class="form-check-label" for="id_sports_14">자전거</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_15" value="서핑">
            <label class="form-check-label" for="id_sports_15">서핑</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_16" value="배드민턴">
            <label class="form-check-label" for="id_sports_16">배드민턴</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_17" value="탁구">
            <label class="form-check-label" for="id_sports_17">탁구</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_18" value="골프">
            <label class="form-check-label" for="id_sports_18">골프</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sports" id="id_sports_19" value="스포츠경기">
            <label class="form-check-label" for="id_sports_19">스포츠경기</label>
        </div>
        </div></div>

        <div class="mb-3"><label class="form-label">Travel</label><div class="" id="id_travel">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="travel" id="id_travel_0" value="복합문화공간">
            <label class="form-check-label" for="id_travel_0">복합문화공간</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="travel" id="id_travel_1" value="테마파크">
            <label class="form-check-label" for="id_travel_1">테마파크</label>
        </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="travel" id="id_travel_2" value="피크닉">
                <label class="form-check-label" for="id_travel_2">피크닉</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="travel" id="id_travel_3" value="드라이브">
                <label class="form-check-label" for="id_travel_3">드라이브</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="travel" id="id_travel_4" value="캠핑">
                <label class="form-check-label" for="id_travel_4">캠핑</label>
            </div>        
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="travel" id="id_travel_5" value="국내여행">
                <label class="form-check-label" for="id_travel_5">국내여행</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="travel" id="id_travel_6" value="해외여행">
                <label class="form-check-label" for="id_travel_6">해외여행</label>
            </div>
        </div></div>

            <div class="mb-3"><label class="form-label">Art</label><div class="" id="id_art">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="art" id="id_art_0" value="전시">
                <label class="form-check-label" for="id_art_0">전시</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="art" id="id_art_1" value="영화">
                <label class="form-check-label" for="id_art_1">영화</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="art" id="id_art_2" value="뮤지컬">
                <label class="form-check-label" for="id_art_2">뮤지컬</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="art" id="id_art_3" value="공연">
                <label class="form-check-label" for="id_art_3">공연</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="art" id="id_art_4" value="디자인">
                <label class="form-check-label" for="id_art_4">디자인</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="art" id="id_art_5" value="박물관">
                <label class="form-check-label" for="id_art_5">박물관</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="art" id="id_art_6" value="연극">
                <label class="form-check-label" for="id_art_6">연극</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="art" id="id_art_7" value="콘서트">
                <label class="form-check-label" for="id_art_7">콘서트</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="art" id="id_art_8" value="연주회">
                <label class="form-check-label" for="id_art_8">연주회</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="art" id="id_art_9" value="페스티벌">
                <label class="form-check-label" for="id_art_9">페스티벌</label>
            </div>
        </div></div> 
            <div class="mb-3"><label class="form-label">Food</label><div class="" id="id_food">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="food" id="id_food_0" value="맛집투어">
                <label class="form-check-label" for="id_food_0">맛집투어</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="food" id="id_food_1" value="카페">
                <label class="form-check-label" for="id_food_1">카페</label>
            </div>            
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="food" id="id_food_2" value="와인">
                <label class="form-check-label" for="id_food_2">와인</label>
            </div>        
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="food" id="id_food_3" value="커피">
                <label class="form-check-label" for="id_food_3">커피</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="food" id="id_food_4" value="디저트">
                <label class="form-check-label" for="id_food_4">디저트</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="food" id="id_food_5" value="맥주">
                <label class="form-check-label" for="id_food_5">맥주</label>
            </div>            
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="food" id="id_food_6" value="티룸">
                <label class="form-check-label" for="id_food_6">티룸</label>
            </div>            
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="food" id="id_food_7" value="비건">
                <label class="form-check-label" for="id_food_7">비건</label>
            </div>            
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="food" id="id_food_8" value="파인다이닝">
                <label class="form-check-label" for="id_food_8">파인다이닝</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="food" id="id_food_9" value="요리">
                <label class="form-check-label" for="id_food_9">요리</label>
            </div>            
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="food" id="id_food_10" value="페어링">
                <label class="form-check-label" for="id_food_10">페어링</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="food" id="id_food_11" value="칵테일">
                <label class="form-check-label" for="id_food_11">칵테일</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="food" id="id_food_12" value="위스키">
                <label class="form-check-label" for="id_food_12">위스키</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="food" id="id_food_13" value="전통주">
                <label class="form-check-label" for="id_food_13">전통주</label>
            </div>
            </div></div>

    <div class="mb-3"><label class="form-label">Develop</label><div class="" id="id_develop">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="develop" id="id_develop_0" value="습관만들기">
            <label class="form-check-label" for="id_develop_0">습관만들기</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="develop" id="id_develop_1" value="챌린지">
            <label class="form-check-label" for="id_develop_1">챌린지</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="develop" id="id_develop_2" value="독서">
            <label class="form-check-label" for="id_develop_2">독서</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="develop" id="id_develop_3" value="스터디">
            <label class="form-check-label" for="id_develop_3">스터디</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="develop" id="id_develop_4" value="외국어">
            <label class="form-check-label" for="id_develop_4">외국어</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="develop" id="id_develop_5" value="재테크">
            <label class="form-check-label" for="id_develop_5">재테크</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="develop" id="id_develop_6" value="브랜딩">
            <label class="form-check-label" for="id_develop_6">브랜딩</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="develop" id="id_develop_7" value="커리어">
            <label class="form-check-label" for="id_develop_7">커리어</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="develop" id="id_develop_8" value="사이드프로젝트">
            <label class="form-check-label" for="id_develop_8">사이드프로젝트</label>
        </div>
    </div></div> 
        
    

    

</div>
    {% bootstrap_button button_type="submit" content="가입완료" %}
  </form>

{% endblock content %}

{% block js %}
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
    window.onload = function () {
      document
        .getElementById("address_kakao")
        .addEventListener("click", function () { //주소입력칸을 클릭하면
          //카카오 지도 발생
          new daum
            .Postcode({
              oncomplete: function (data) { //선택시 입력값 세팅
                document
                  .getElementById("address_kakao")
                  .value = data.address; // 주소 넣기
              }
            })
            .open();
        });
    }
  </script>
  {% endblock js %}