{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}
{% block css %}{% endblock css %}

{% block content %}   
<div>
  <!-- 메인 페이지 배너 hover(예정) -->
  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img class="img-fluid" src="{% static 'images/캐러셀_1.jpg' %}"></div>
      <div class="swiper-slide"><img src="{% static 'images/캐러셀_2.png' %}"></div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 6000,
          disableOnInteraction: false
        },
        pagination: {
          el: ".swiper-pagination",
          dynamicBullets: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      });
    </script>

    <div class='container justify-content-center post_page'>
      <div style='width:100%'>
        <!-- 인기 모임 글 -->
        <div class='my-5'>
          <h3 class="main_color fw-bold">인기 모임</h3>
          <div class="d-flex justify-content-center">
            <div class='d-flex flex-column'>
              <div class='d-flex my-4 post'>
                <div class="col-4">
                  <img class='post_img' src="https://dummyimage.com/500x200/000/fff" alt="..." style='width:100%; height: 250px;'>
                </div>
                <div class="d-flex align-items-center">
                  <div class='mx-5'>
                    <div class='my-3'>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                    </div>
                    <h3>본문에 제목이 들어갈 곳입니다.
                    </h3>
                    <small class='text-muted'>
                      해당 글의
                      <i class="bi bi-calendar-check-fill"></i>
                      날짜
                      <i class="bi bi-geo-alt-fill"></i>
                      장소
                      <i class="bi bi-person-fill"></i>
                      인원수 가 들어갈 곳입니다.</small>
                  </div>
                </div>
              </div>
              <div class='d-flex my-4 post'>
                <div class="col-4">
                  <img class='post_img' src="https://dummyimage.com/500x200/000/fff" alt="..." style='width:100%; height: 250px;'>
                </div>
                <div class="d-flex align-items-center">
                  <div class='mx-5'>
                    <div class='my-3'>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                    </div>
                    <h3>본문에 제목이 들어갈 곳입니다.
                    </h3>
                    <small class='text-muted'>
                      해당 글의
                      <i class="bi bi-calendar-check-fill"></i>
                      날짜
                      <i class="bi bi-geo-alt-fill"></i>
                      장소
                      <i class="bi bi-person-fill"></i>
                      인원수 가 들어갈 곳입니다.</small>
                  </div>
                </div>
              </div>
              <div class='d-flex my-4 post'>
                <div class="col-4">
                  <img class='post_img' src="https://dummyimage.com/500x200/000/fff" alt="..." style='width:100%; height: 250px;'>
                </div>
                <div class="d-flex align-items-center">
                  <div class='mx-5'>
                    <div class='my-3'>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                    </div>
                    <h3>본문에 제목이 들어갈 곳입니다.
                    </h3>
                    <small class='text-muted'>
                      해당 글의
                      <i class="bi bi-calendar-check-fill"></i>
                      날짜
                      <i class="bi bi-geo-alt-fill"></i>
                      장소
                      <i class="bi bi-person-fill"></i>
                      인원수 가 들어갈 곳입니다.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 신규 모임 글 -->
        <div class='my-5'>
          <h3 class="main_color fw-bold">신규 모임</h3>
          <div class="d-flex justify-content-center">
            <div class='d-flex flex-column'>
              <div class='d-flex my-4 post'>
                <div class="col-4">
                  <img class='post_img' src="https://dummyimage.com/500x200/000/fff" alt="..." style='width:100%; height: 250px;'>
                </div>
                <div class="d-flex align-items-center">
                  <div class='mx-5'>
                    <div class='my-3'>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                    </div>
                    <h3>본문에 제목이 들어갈 곳입니다.
                    </h3>
                    <small class='text-muted'>
                      해당 글의
                      <i class="bi bi-calendar-check-fill"></i>
                      날짜
                      <i class="bi bi-geo-alt-fill"></i>
                      장소
                      <i class="bi bi-person-fill"></i>
                      인원수 가 들어갈 곳입니다.</small>
                  </div>
                </div>
              </div>
              <div class='d-flex my-4 post'>
                <div class="col-4">
                  <img class='post_img' src="https://dummyimage.com/500x200/000/fff" alt="..." style='width:100%; height: 250px;'>
                </div>
                <div class="d-flex align-items-center">
                  <div class='mx-5'>
                    <div class='my-3'>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                    </div>
                    <h3>본문에 제목이 들어갈 곳입니다.
                    </h3>
                    <small class='text-muted'>
                      해당 글의
                      <i class="bi bi-calendar-check-fill"></i>
                      날짜
                      <i class="bi bi-geo-alt-fill"></i>
                      장소
                      <i class="bi bi-person-fill"></i>
                      인원수 가 들어갈 곳입니다.</small>
                  </div>
                </div>
              </div>
              <div class='d-flex my-4 post'>
                <div class="col-4">
                  <img class='post_img' src="https://dummyimage.com/500x200/000/fff" alt="..." style='width:100%; height: 250px;'>
                </div>
                <div class="d-flex align-items-center">
                  <div class='mx-5'>
                    <div class='my-3'>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                    </div>
                    <h3>본문에 제목이 들어갈 곳입니다.
                    </h3>
                    <small class='text-muted'>
                      해당 글의
                      <i class="bi bi-calendar-check-fill"></i>
                      날짜
                      <i class="bi bi-geo-alt-fill"></i>
                      장소
                      <i class="bi bi-person-fill"></i>
                      인원수 가 들어갈 곳입니다.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 관심 모임 글 -->
        <div class='my-5'>
          <h3 class="main_color fw-bold">관심 모임</h3>
          <div class="d-flex justify-content-center">
            <div class='d-flex flex-column'>
              <div class='d-flex my-4 post'>
                <div class="col-4">
                  <img class='post_img' src="https://dummyimage.com/500x200/000/fff" alt="..." style='width:100%; height: 250px;'>
                </div>
                <div class="d-flex align-items-center">
                  <div class='mx-5'>
                    <div class='my-3'>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                    </div>
                    <h3>본문에 제목이 들어갈 곳입니다.
                    </h3>
                    <small class='text-muted'>
                      해당 글의
                      <i class="bi bi-calendar-check-fill"></i>
                      날짜
                      <i class="bi bi-geo-alt-fill"></i>
                      장소
                      <i class="bi bi-person-fill"></i>
                      인원수 가 들어갈 곳입니다.</small>
                  </div>
                </div>
              </div>
              <div class='d-flex my-4 post'>
                <div class="col-4">
                  <img class='post_img' src="https://dummyimage.com/500x200/000/fff" alt="..." style='width:100%; height: 250px;'>
                </div>
                <div class="d-flex align-items-center">
                  <div class='mx-5'>
                    <div class='my-3'>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                    </div>
                    <h3>본문에 제목이 들어갈 곳입니다.
                    </h3>
                    <small class='text-muted'>
                      해당 글의
                      <i class="bi bi-calendar-check-fill"></i>
                      날짜
                      <i class="bi bi-geo-alt-fill"></i>
                      장소
                      <i class="bi bi-person-fill"></i>
                      인원수 가 들어갈 곳입니다.</small>
                  </div>
                </div>
              </div>
              <div class='d-flex my-4 post'>
                <div class="col-4">
                  <img class='post_img' src="https://dummyimage.com/500x200/000/fff" alt="..." style='width:100%; height: 250px;'>
                </div>
                <div class="d-flex align-items-center">
                  <div class='mx-5'>
                    <div class='my-3'>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                      <small class="tag p-1">#태그</small>
                    </div>
                    <h3>본문에 제목이 들어갈 곳입니다.
                    </h3>
                    <small class='text-muted'>
                      해당 글의
                      <i class="bi bi-calendar-check-fill"></i>
                      날짜
                      <i class="bi bi-geo-alt-fill"></i>
                      장소
                      <i class="bi bi-person-fill"></i>
                      인원수 가 들어갈 곳입니다.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block js %}{% endblock js %}